.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 50px;
  width: 350px;
  max-width: 90vw;
  
  .logo {
    width: 60px;
  }

  .title {
    margin: 20px 0 35px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .buttonWrapper {
      margin: 20px 0 0;
    }
  }

  .link {
    color: rgb(29, 161, 242);
    margin: 20px 0 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
