.sidebar {
  position: fixed;
  width: 85px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  .iconWrapper {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    place-content: center;
    transition: all 0.2s ease;
    
    .icon {
      width: 25px;
      fill: white;
    }

    &:hover {
      background: rgba(29, 161, 242, 0.1);
    }
    
    &:hover .icon {
      fill: rgb(29, 161, 242);
    }
  }

}